<h1>Showing selected post</h1>

<p>
	Title: <%= @post.title %>
</p>

<p>
	Description: <%= @post.description %>
</p>

<%= link_to "Edit this post", edit_post_path(@post) %> |
<%= link_to "Back to posts listing", posts_path %>