<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://www.aaronrai.com">The Creator of Social Chimp</a> |
			University <a href="https://my.dmu.ac.uk/">MyDMU</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>