<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://my.dmu.ac.uk">Business Information Systems Computing Project</a> |
			By <a href="https://www.aaronrai.com">Aaron Rai</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>